#mix-screen {
    padding: 25rem 2rem;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#mix-screen .title h2 {
    font-size: 2.7rem;
}

#mix-screen .title p {
    font-size: 2rem;
}

#mix-screen .image img {
    width: 160px;
}

@media (min-width: 360px) {
    #mix-screen,
    #mix-screen .image img,
    #mix-screen .title {
        display: none;
    }
}

@media (max-width: 360px) {

    #mix-screen .image img,
    #mix-screen .title {
        display: block;
    }

    body {
        background: var(--white-four);
    }
}