/* -------------------------------------------------
	 Font
--------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500&family=Noto+Kufi+Arabic:wght@300;400;500;600&family=Kufam:ital,wght@0,500;1,400&display&=Ubuntu&display=swap&family=El+Messiri:wght@400;500&family=IBM+Plex+Sans+Arabic:wght@200;300;400&family=Vazirmatn:wght@200;300;400&display=swap');

/*---
font-family: 'Cairo', sans-serif;
font-family: 'El Messiri', sans-serif;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Vazirmatn', sans-serif;
font-family: 'Ubuntu', sans-serif;
---*/



:root {
    --vr-col-001: rgb(255, 255, 255);
    --vr-col-002: rgb(255, 255, 255);
    --vr-col-003: rgb(254, 254, 254);
    --vr-col-004: rgb(214, 207, 207);
    --vr-col-005: rgb(216, 211, 211);
    --vr-col-006: rgb(186, 186, 186);
    --vr-col-007: rgb(222, 184, 135);
    --vr-col-008: rgb(114, 114, 114);
    --vr-col-009: rgb(25, 105, 139);
    --vr-col-010: rgb(0, 0, 0);
    --vr-col-011: rgb(1, 3, 23);
    --vr-col-012: rgba(0, 13, 20, 0.259);
    --vr-col-013: rgb(93, 90, 90);
    --vr-col-014: rgb(0, 0, 0);
    --vr-col-015: rgb(221, 221, 221);
    --vr-col-016: rgb(31, 206, 203);
    --vr-col-017: rgb(0, 0, 0, 0.32);
    --vr-col-018: rgb(87, 0, 255);
    --vr-col-019: rgb(227, 233, 247);
    --vr-col-020: rgb(68, 0, 255);
    --vr-col-021: rgb(62, 4, 221);
    --vr-col-022: rgb(0, 117, 255);
    --vr-col-023: rgb(3, 37, 114);
    --vr-col-024: rgb(12, 167, 170);
    --vr-col-025: rgb(30, 192, 178);
    --vr-col-026: rgb(64, 248, 255);
    --vr-col-027: rgb(165, 227, 255);
    --vr-col-028: rgb(41, 85, 106);
    --vr-col-029: rgb(5, 6, 45);
    --vr-col-030: rgb(255, 221, 0);
    --vr-col-031: rgb(254, 208, 78);
    --vr-col-032: rgb(240, 219, 79);
    --vr-col-033: rgb(227, 160, 66);
    --vr-col-034: rgb(255, 136, 0);
    --vr-col-035: rgb(234, 122, 25);
    --vr-col-036: rgb(255, 119, 0);
    --vr-col-037: rgb(214, 0, 0);    
    --vr-col-038: rgb(227, 12, 91);
    --vr-col-039: rgb(255, 0, 0);
    --vr-col-040: rgb(255, 0, 187);
    --vr-col-041: rgb(131, 58, 180);
    --vr-col-042: rgb(156, 25, 25);
    --vr-col-043: rgb(110, 191, 132);

    





    --green: #008000;
  
    --green-four: #263A29;
    --green-five: #698269;
    --purple-tow: #b161e6;
    --burlywood-tow: #785931;
}

.dark-mode-theme {
    --vr-col-001: rgb(0, 0, 0);
    --vr-col-010: rgb(255, 255, 255);
}

Text {
    color: #785931;
}

@font-face {
    font-family: "Sukar";
    font-weight: 600;
    src: url(../fonts/Sukar.ttf);
}

@font-face {
    font-family: "Jozoor";
    font-weight: 600;
    src: url(../fonts/Jozoor.otf);
}

@font-face {
    font-family: "ElMessiri";
    font-weight: 600;
    src: url(../fonts/ElMessiri.ttf);
}

@font-face {
    font-family: "Dubai";
    font-weight: 300;
    src: url(../fonts/Dubai.ttf);
}

@font-face {
    font-family: "naqaaa";
    font-weight: 600;
    src: url(../fonts/naqaaa.ttf);
}

@font-face {
    font-family: "NotoKufi";
    font-weight: 500;
    src: url(../fonts/NotoKufi.ttf);
}

@font-face {
    font-family: "nizar";
    font-weight: 500;
    src: url(../fonts/nizar.ttf);
}

@font-face {
    font-family: "Readex";
    src: url(../fonts/ReadexPro.ttf);
}

@font-face {
    font-family: "expo";
    src: url(../fonts/ExpoArabic.ttf);
}